@import url('bootstrap.css');

.container {
	max-width: 800px;
}

.header-container {
	margin-top: 50px;
}

h1 {
	$font-size: 96px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: $font-size;
	font-weight: bold;
	line-height: $font-size;
	margin-top: 0;
}

#myCarousel {
	cursor: pointer;
	.play-btn {
		position: absolute;
		left: 50%;
		margin-left: -36px;
		margin-top: -32px;
		top: 50%;
		z-index: 100;
		border: 4px solid #000;
		border-radius: 10px;
		&:hover {
			border-color: #666;
		}
	}
}

#screencastModal {
	width: 640px;
	height: 480px;
	.modal-body {
		padding: 0;
		max-height: inherit;
	}
}

.jot-icon {
	// border-radius: 8px;
	// border: 1px solid #000;
	// margin-top: -10px;
	position: absolute;
	right: -25px;
	bottom: -10px;
	width: 200px;
}

.social-icons {
	margin-top: 30px;
	&, & .fb-like {
		z-index: 10;
	}
	.twitter-share-button {
		margin-top: 30px;
	}
}


.header {
	position: relative;
	p {
		$size: 24px;
		font-size: $size;
		line-height: $size;
		margin-bottom: 45px;
	}

	.header-content .title-container {
		margin-bottom: 45px
	}

	.download-link {
		// text-align: right;
	}
}


.body-wrapper {
	margin-top: 10px;
	padding-top: 10px;
	background: url('../images/gray_jean.png') repeat;
	border-top: 1px solid #ccc;
	padding-bottom: 50px;
}


.reasons {
	h3 {
		padding-left: 47px;
		background-repeat: no-repeat;
		background-position: 0 4px;
		margin-top: 45px;
		&:first-child {
			margin-top: 10px;
		}
	}
	.ready-to-go {
		background-image: url('../images/icons/star.png')
	}
	.fast-gestures {
		background-image: url('../images/icons/clock.png')
	}
	.act-on-your-jots {
		background-image: url('../images/icons/outgoing.png')
	}
	ul li {
		margin-bottom: 5px;
	}
}

.release {
	p {
		font-weight: bold;
	}
	ul {
		list-style-type: square;
	}
}